* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Panton Narrow';
    src: url('./design/font/PantonNarrow-Trial-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: white;
}

.navbar {
    width: 100%;
    background-color: #111111;
}

.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    height: 100px;
    font-size: 2.5em;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 45px;
    margin-right: 10px;
    margin-left: 10px;
}

.logo-name {
    font-family: 'Panton Narrow', sans-serif;
    font-size: 1em;
}

.right-section {
    display: flex;
    align-items: center;
}

.online-status {
    margin-right: 15px;
    color: #47c64b;
}

.icons span {
    margin-right: 10px;
    cursor: pointer;
}

.download-btn {
    background-color: #e14f4f;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.navbar-bottom {
    display: flex;
    justify-content: center;
    background-color: #112733cc;
    padding: 10px 0;
}

.navbar-bottom a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-weight: bold;
}

.navbar-bottom a.dropdown {
    cursor: pointer;
}

/* Футер */
footer .social-container {
    display: flex;
    gap: 24px; 
    margin-bottom: 20px;
    justify-content: center;
}

footer .social-link {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    padding: 10px;
    fill: white;
}

footer .social-link:hover {
    transform: scale(1.2);
}

footer .social-link svg {
    width: 50px; 
    height: 50px; 
    fill: white; 
}

footer .footer-text {
    text-align: center; 
    color: #fff;
}

footer .footer-text p {
    font-size: 0.9em;
    margin: 5px 0; 
}

footer .footer-text .sub-text {
    font-size: 0.8em;
    color: #aaa; 
}


/* Бургерменю */
.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
    margin-right: 20px;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

/* блог контейнер */
/* Общие стили */
.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #1a1a1a;
}

.card {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Стили для большой карточки */
.card.large {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card.large h2 {
    font-size: 1.5em;
    margin: 20px 0;
    color: #1f1f1f;
}

.card.large .read-more {
    font-weight: bold;
    color: #3d98ff;
    text-decoration: none;
    margin-top: 20px;
}

/* Стили для маленьких карточек */
.card.small {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card.small h3 {
    font-size: 1em;
    margin: 10px 0;
    color: #1f1f1f;
}

.card.small a {
    font-size: 1.5em;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    align-self: flex-end;
}

/* Общие элементы */
.card .date, .card .category, .card .author {
    font-size: 0.8em;
    color: #555;
}

.card .category {
    font-weight: bold;
    margin: 5px 0;
}
